{{#if jobs.length}}
  <div class="col-md-6 project-list">
    <h3>Current Jobs:</h3>

    {{#each jobs as |job|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{job.id}}">{{job.job_title}}</a></h4>
      </div>
      <div>
        <p>{{job.job_description}}</p>
        <p>{{job.salary}}</p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{job.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}